<div class="content">
  <div class="mid">
    <div>
      
      <div class="line">
        <p class="hello">Hello,</p>
        <p class="text2">I am</p>
        <h1 class="name">Krishna</h1>
      </div>
 
      <p class="para">
        My skills are in Front end development (HTML, CSS, JS, Angular, Figma).
      </p>
 
      <app-modal></app-modal>
    </div>
    <div class="rect">
      <img alt="Photo" class="photo" src="https://images.unsplash.com/photo-1448932223592-d1fc686e76ea?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2069&q=80" />
    </div>
  </div>
</div>