<!-- <div class="shape1" style="z-index:2"></div> -->
<div class="content">
  <div class="mid">
    <div class="text">
      
      <div class="line">
        <!-- <p class="hello">Hello,</p>
        <p class="text2">I am</p> -->
        <h1 class="name">jasdhfj mkadsdfj</h1>
      </div>
      <!-- <p class="para">
        My skills are in Front end development (HTML, CSS, JS, Angular, Figma).
      </p> -->
 
      <div class="accordion">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" 

              type="button" data-bs-toggle="collapse" 
              data-bs-target="#collapseOne" aria-expanded="true" 
              aria-controls="collapseOne">
              <div class="title-line">
                <div class='job-title'> Web and Mobile developer</div>
                <div class="about-toggle">Skills:</div>

              </div>
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse" 
          aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>
                <!-- <p class="para">
                My skills are in Front end development (HTML, CSS, JS, Angular, Figma).
                </p> -->
                <div style="display:flex">
                  <div class="card" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title">Front End Development</h5>
                      <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
                      <ul class="list-group">
                        <li class="list-group-item">Design: Figma</li>
                        <li class="list-group-item">HTML</li>
                        <li class="list-group-item">CSS</li>
                        <li class="list-group-item">Bootstrap</li>
                        <li class="list-group-item">Javascript</li>
                        <li class="list-group-item">Angular</li>
                      </ul>
                    </div>
                  </div>
                  <div class="card" style="width: 18rem;">
                    <div class="card-body">
                      <!-- <h5 class="card-title">Card title</h5>
                      <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
                      <h5 class="card-title">Backend & Others</h5>
                      <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
                      <ul class="list-group">
                        <li class="list-group-item">NestJS</li>
                        <li class="list-group-item">TypeORM</li>
                        <li class="list-group-item">PostGreSQL</li>
                        <li class="list-group-item">Ionic</li>
                        <li class="list-group-item">RESTAPI</li>
                        <li class="list-group-item">Git & Github</li>
                        <li class="list-group-item">JIRA</li>
                      </ul>
                    </div>
                  </div>
                  
                </div>
              </strong></div>
          </div>
        </div>
      </div>

      <app-modal></app-modal>
    </div>
    <div class="rect">
      <img alt="Photo" class="photo" src="https://images.unsplash.com/photo-1448932223592-d1fc686e76ea?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2069&q=80" />
    </div>
  </div>
</div>