.content{
    color: #DDEFDB;
    height: 100%;
    margin-top: 18vh;
    margin-left: 11vw;
}

.line{
    display: flex;
}

.hello{
    font-size: 4.5vw;
}

.text2{
    font-size: 4vw;
    margin-top: 1vw;
}

.name{
    font-size:6vw;
    margin-left: 3px;
    color: #D396BE;
}

.para{
    font-size: 2.2vw;
    width: 40vw;
}

.button{
  background-color: #D396BE; /* Green */
  border: none;
  border-radius: 2vw;
  color: #0D5325;
  padding: 0 5vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 3vw;
  font-weight: bold;
  margin-top: 16vh;
  margin-bottom: 3vh;
}

.mid {
    display: flex;
  }

.photo{
    height: 35vw;
    width: 28vw;
    margin-left: 12vw;
    opacity: 60%;
    border-radius: 8vw;
}


/*For making mobile responsive:*/
@media screen and (max-width: 767px) {

}