.content{
    color: #DDEFDB;
    height: 100%;
    padding-top: 22vh;
    margin-left: 16vw;
}

/* .shape1{
    width:12vw;
    height:18vw;
    z-index: 2;
    position:relative;
    background-color: #4d453a;
} */

.line{
    display: flex;
}

.hello{
    font-size: 4.5vw;
}

.text2{
    font-size: 4vw;
    margin-top: 1vw;
}

.name{
    font-size: 5.3vw;
    margin-left: -3vw;
    color: #D396BE;
}

.para{
    font-size: 2.2vw;
    width: 40vw;
}

.button{
  background-color: #D396BE; /* Green */
  border: none;
  border-radius: 2vw;
  color: #0D5325;
  padding: 0 5vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 3vw;
  font-weight: bold;
  margin-top: 16vh;
  margin-bottom: 3vh;
}

.mid {
    display: flex;
  }

.text{
    padding-top: 8vh;
}

.photo{
    height: 35vw;
    width: 28vw;
    margin-left: 17vw;
    opacity: 60%;
    border-radius: 8vw;
}

.accordion-button{
    background: transparent;
    font-size: 2vw;
    color: white;
    width: fit-content;
}

.accordion-item{
    background: transparent;
    border: none;
}

.accordion{
border: none;
width: 34vw;
}

.cards{
    display: flex;
    width: 47vw;
}

.card{
    background: none;
    color: #a68002;
    width: 35vw;
    margin-left: -3vw;
    margin-right: 5vw;
}

.card-title{
    width: 18vw;
    margin-bottom: 2vh;
}

.list-group-item{
    background: none;
    background-color: #a68002;
    text-align: center;
}

.job-title{
    color: #D396BE;
    width: max-content;
}

.title-line{
    display:flex;
}

.about-toggle{
    margin-left:5vw;
    width: 7vw;
    color: #D396BE;
}


/*For making mobile responsive:*/
@media screen and (max-width: 767px) {

    .content{
        padding-top: 14vh;
        margin-left: 3vw;
    }
    
    .line{
        display: block;
        margin-left: 4vw;
    }
    
    .hello{
        font-size: 12vw;
    }

    .text2{
        font-size: 8vw;
    }
    
    .name{
        font-size:8vw;
        margin-left: 3.6px;
        color: #D396BE;
    }
    
    .accordion-button{
        margin-top: 3vh;
    }

    
    .para{
        font-size: 6vw;
        width: 80vw;
        margin-top: 5vw;
    }
    
    .button{
      padding: 0 5vw;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 7vw;
      font-weight: bold;
      margin-top: 16vh;
      margin-bottom: 3vh;
    }
    
    .mid {
        display: flex;
    }
    
    .text{
        width: 50vw;
        margin-left: 4vw;
    }

    .photo{
        height: 40vw;
        width: 38vw;
        margin-left: 6vw;
        opacity: 50%;
        border-radius: 8vw;
    }

        
    .accordion-button{
        font-size: 3.6vw;
    }

    .accordion-item{
        background: transparent;
        border: none;
    }

    .accordion{
    border: none;
    width: 34vw;
    }

    .cards{
        width: 87vw;
        display: block;
    }

    .card{
        width: 85vw;
        margin-left: -3vw;
        margin-right: 5vw;
    }

    .card-title{
        width: fit-content;
        margin-bottom: 2vh;
    }

    .about-toggle{
        width: 10vw;
    }
}