body, html {
    height: 100%;
  }

.all{
    /* background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://images.unsplash.com/photo-1601370690183-1c7796ecec61?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHx2aXN1YWwtc2VhcmNofDF8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=600&q=60); */
    background: linear-gradient(rgba(0, 0, 0, 0.6),
     rgba(0, 0, 0, 0.63)), 
     url(https://images.unsplash.com/photo-1601370690183-1c7796ecec61?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHx2aXN1YWwtc2VhcmNofDF8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=600&q=60
    );
    min-width: 100%;
    height: 90vh;
    z-index: 1;
}

.navbar{

    background: linear-gradient(rgba(0, 0, 0, 0.6),
     rgba(0, 0, 0, 0.68)), 
     url(https://images.unsplash.com/photo-1601370690183-1c7796ecec61?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHx2aXN1YWwtc2VhcmNofDF8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=600&q=60
    );
    height: 6vh;

}

.shape1{
    width: 4vw;
    height:45vh;
    margin-top: 35vh;
    position:absolute;
    background-color: #2a2621;
    animation: shape1 6s linear infinite;
}

.icon{
    width: 3vw;
    margin-left: 1vw;
    margin-top: 4vh;
    cursor: pointer;
}

.custom-tooltip {
    --bs-tooltip-bg: red;
  }

@keyframes shape1{
    0%{
        opacity: 0.3;
    }
    25%{
        opacity: .4;
    }
    50%{
        opacity: .6;
    }
    78%{
        opacity: .4;
    }
    100%{
        opacity: 0.3;
    }
}

.logo{
    width: 3.5vw;
    height: auto;
}

.nav-button{
    color: #0C3F04;
    border-radius: 12%;
    width: fit-content;
    text-align: center;
    font-weight: 500;
}

.nav-link:hover {
    /* background-color: #0C3F04;  */
    color: #c3be98; /* Change the text color on hover */
    font-size: 1.2vw;
    border-radius: 15px;
    transition: width 2s;
}

.all {
    height: 100%;
  }

nav {
  height: 5.625vw;
}

.navbar-nav{
    justify-content: end;
    margin-right: 7vw;
}

.nav-link{
    color: #DDEFDB;
    font-size: 0.9vw;
    font-weight: 25%;
    padding-left: 6vw;
    margin-left: 3vw;
}

.nav-link.active{
    font-size: 1.2vw;
    font-weight: 30%;
    color: #a3b3a1;
    border: inset;
    border-radius: 7px;
    border-right: none;
    border-top: none;
    background: transparent;
    
}


/* For Mobile screens */

@media only screen and (max-width: 600px) {

    .navbar-nav{
        margin-right: -8vw;
    }

    .nav-link{
        color: #DDEFDB;
        font-size: 3vw;
        font-weight: 25%;
        padding-left: 6vw;
        margin-left: 3vw;
    }
    
    .nav-link.active{
        font-size: 2.5vw;
        border: dotted;
        border-right: none;
        border-top: none;
        background: transparent;
        height: 3vh;
    }

    .shape1{
        margin-left: 40vw;
        width:60vw;
        position:fixed;
        top: auto;
        bottom: 0;
        height: 3vh;
        /* animation: shape1 6s linear infinite; */
    }

    .icon{
        width: 6vw;
        margin-left: 5vw;
        cursor: pointer;
        bottom: 0;
        margin-top: 0;
    }
 
    .navbar{
        height: 4vh;
    }

}