<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
	<title>About</title>
</head>

<div class="all">
    <p class="heading">
        Contact:     
    </p>
    <p class="text">
        If you have any inquiries, don't hesitate to 
        contact me. You can reach me through my GitHub 
        account, which is https://github.com/krsna23. 
        You can also email me at krishna.adhikari@gmail.com. 
        I look forward to hearing from you!
    </p>
    <div class="rect">
        <div class="indiv">
            <img alt="location" class="icon" src="../assets/images/location.png" />
            <p class="info">
                Jayanagar, Bangalore
            </p>
        </div>
        <div class="indiv">
            <img alt="gmail" class="icon" src="../assets/images/gmail.png" />
            <p class="info">
                adh.krishna23@gmail.com
            </p><br>
        </div>
        <div class="indiv">
            <img alt="whatsapp" class="icon" src="../assets/images/whatsapp.png" />
            <p class="info">
                +91 91485 58301
            </p><br>
        </div>
        <div class="indiv">
            <img alt="linkedin" class="icon" src="../assets/images/linkedin.png" />
            <p class="info">
                krishna-adhikari-4b000924a/
            </p><br>
        </div>
        <div class="indiv">
            <img alt="github" class="icon" src="../assets/images/github.png" />
            <p class="info">
                https://github.com/krsna23
            </p><br>
        </div>
    </div>
</div>