<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" 
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <title>About</title>    
</head>

<div class="all">
    <p class="heading">
        Contact:
    </p>
    <p class="text">
        If you have any questions or need further assistance, 
        please feel free to reach out. You can contact me 
        through my GitHub account: https://github.com/krsna23. 
        Additionally, you can reach me via email at adh.krishna23@gmail.com. 
        I eagerly anticipate hearing from you!
    </p>
    <div class="rect">
        <div class="indiv">
                <img alt="location" class="icon" src="../assets/images/location.png" />
                <p class="info">
                    <a 
                        href="https://www.google.com/maps/place/Jayanagar,+Bengaluru,+Karnataka/@12.9292123,77.587155,14z/data=!3m1!4b1!4m6!3m5!1s0x3bae15986765d7d9:0xbba2fea7014e5087!8m2!3d12.9307735!4d77.5838302!16zL20vMDRjMzBx?entry=ttu" 
                        target="_blank"
                        class="disable-styles"
                    >
                        Jayanagar, Bangalore
                    </a>
                </p>
            
        </div>
        <div class="indiv">
            <img alt="gmail" class="icon" src="../assets/images/gmail.png" />
            <p class="info">
                <a 
                    href="https://mail.google.com/mail/?view=cm&fs=1&to=adh.krishna23@gmail.com&su=Collaborate_From_Website"
                    target="_blank"
                    class="disable-styles"
                >
                    adh.krishna23@gmail.com
                </a>    
            </p><br>
        </div>
        <div class="indiv">
            <img alt="whatsapp" class="icon" src="../assets/images/whatsapp.png" />
            <p class="info">
                <a 
                    href="https://www.google.com/maps/place/Jayanagar,+Bengaluru,+Karnataka/@12.9292123,77.587155,14z/data=!3m1!4b1!4m6!3m5!1s0x3bae15986765d7d9:0xbba2fea7014e5087!8m2!3d12.9307735!4d77.5838302!16zL20vMDRjMzBx?entry=ttu" 
                    target="_blank"
                    class="disable-styles"
                >
                    +91 91485 58301
                </a>
            </p><br>
        </div>
        <div class="indiv">
            <img alt="linkedin" class="icon" src="../assets/images/linkedin.png" />
            <p class="info">
                <a 
                    href="https://www.linkedin.com/in/krishna-adhikari-4b000924a/"
                    target="_blank"
                    class="disable-styles"
                >
                krishna-adhikari-4b000924a/
                </a>
            </p><br>
        </div>
        <div class="indiv">
            <img alt="github" class="icon" src="../assets/images/github.png" />
            <p class="info">
                <a 
                    href="https://github.com/krsna23"
                    target="_blank"
                    class="disable-styles"
                >
                https://github.com/krsna23
                </a>
            </p><br>
        </div>
    </div>
</div>