<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
	<title>About</title>
</head>

<div class="all">
    <p class="heading">
        About:     
    </p>
    <div class="about">

        <!-- Timeline Code Copy -->

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="main-timeline">
                        <div class="timeline">
                            <div class="timeline-content">
                                <div class="timeline-icon"><i class="fa fa-globe"></i></div>
                                <div class="timeline-year">2023</div>
                                <h3 class="title">Angular, NestJS</h3>
                                <div class="description">
                                    <ul class="a">
                                        <li>Modern Angular Bootcamp: Udemy Certification</li>
                                        <li>NESTJS: Complete Developers Guide Udemy </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="timeline">
                            <div href="#" class="timeline-content">
                                <div class="timeline-icon"><i class="fa fa-rocket"></i></div>    
                                <div class="timeline-year">2022</div>
                                <h3 class="title">Javascript, CS50</h3>
                                <div class="description">
                                    <ul class="a">
                                        <li>FreeCodeCamp: Javascript Certification</li>
                                        <li>edX: Harvard CS50: Intro to programming</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="timeline">
                            <div href="#" class="timeline-content">
                                <div class="timeline-icon"><i class="fa fa-globe"></i></div>
                                <div class="timeline-year">2021</div>
                                <h3 class="title">HTML, CSS</h3>
                                <div class="description">
                                    <ul class="a">
                                        <li>FreeCodeCamp: Responsive Web Development Certification</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- End of html for timeline -->
        <div class="rect">
            <p class="heading2">Certifications:</p>
            <ul class="ul2">
                <li class="li2">
                    Responsive Web design: Free Code Camp
                </li>
                <li class="li2">
                    Data Structures and algorithm using Javascript:
                    Free Code Camp
                </li>
                <li class="li2">
                    cs50x: edX
                </li>
                <li class="li2">
                    The Modern Angular Bootcamp: 
                    Stephen Gridle (Udemy)                    
                </li>
                <li class="li2">
                    NESTJS: Complete Developers Guide (Udemy)                    
                </li>
            </ul>
        </div>
    </div>
</div>