<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
	<title>About</title>
</head>

<div class="all">
    <p class="heading">
        About:     
    </p>
    <div class="about">
        <ul class="ul1">
            <li class="li1">
                As an energetic and passionate MCA student,
                I have learned multiple programming languages 
                and problem-solving skills, which I have applied 
                in various projects to earn different certifications. 
            </li>
            <li class="li1">
                Being a self-taught programmer, I have the ability to 
                learn new things and keep myself updated with the latest 
                trends in the industry. 
            </li>
            <li class="li1">
                I possess valuable soft skills 
                like discipline, adaptability and time management, which help me excel 
                in my projects. I am dedicated and committed to becoming 
                a dependable and valuable team member.
            </li>
        </ul>
        <div class="rect">
            <p class="heading2">Certifications:</p>
            <ul class="ul2">
                <li class="li2">
                    Responsive Web design: FreeCodeCamp
                </li>
                <li class="li2">
                    Data Structures and algorithm using Javascript:
                    FreeCodeCamp
                </li>
                <li class="li2">
                    cs50x: edX
                </li>
                <li class="li2">
                    The Modern Angular Bootcamp: 
                    Stephen Gridle(Udemy)                    
                </li>
            </ul>
        </div>
    </div>
</div>