.project{
    padding-top: 13vh;
    padding-bottom: 2vh;
    /* background-color: rgb(238, 238, 238); */
    background: linear-gradient(
        rgba(5, 66, 1, 0.11), 
        rgba(0, 70, 14, 0.21)
    )
}

.heading{
    font-size: 4vw;
    margin: 3vw;
    font-family: cursive;
    margin-left: 8vw;
    margin-top: 5vh;
}


.card{
    width: 90vw;
    margin-bottom: 5vh;
    margin-left: 5vw;
    color: #0D5325;
    background-color: #a68002;
}

.card-title{
    margin: 4vh 10vw;
}

.card-img{
    height: 45vh;
}

.card-text{
    margin: 4vh 2vw;

}

.icon{
    width: 3vw;
    cursor: pointer;
}

.inline{
    display: flex;
    background:none;
    border: none;
}

.code-title{ 
    margin-left: 1vw;
}

.links{
    display: flex;
    justify-content: space-around;
}

/*For making mobile responsive:*/
@media screen and (max-width: 767px) {

    .project{
        padding-top: 7vh;
    }

    .heading{
        font-size: 8vw;
        margin-bottom: 6vh;
    }
    
    .icon{
        height: 4.5vw;
        width: auto;
        cursor: pointer;
    }

    .card-img{
        height: 40vh;
    }

}