<p class="lead">
    Projects:  
</p>
<!-- <app-project-slider [slides]="slides"></app-project-slider>
<p> -->
<!-- <img src="../../../assets/images/image1.jpeg" /> -->
    <!-- I have worked on a variety of projects, 
    which have honed my skills in Angular,
     JavaScript, HTML, CSS, SQL, and Bootstrap. 
     Some of the notable projects that I have 
     worked on are:
    
    1. The Modern Angular Bootcamp: A project that 
        helped me master the fundamentals of Angular, 
        including components, services, pipes, and directives. 
        I learned how to build modular apps that can easily be 
        updated and changed. I also used RxJs to declaratively 
        manage data throughout my app, leveraging built-in functions to 
        transform the data.
    
    2. FreeCodeCamp: Data Structures and Algorithm using JavaScript: 
        A project that helped me grasp the fundamentals of JavaScript, 
        including variables, arrays, objects, loops, and functions. I also 
        created algorithms to manipulate strings, factorialize numbers, etc.
    
    3. FreeCodeCamp: Responsive Web Design: A project that helped me 
        become proficient in the languages that developers use to build 
        webpages: HTML (Hypertext Markup Language) for content and CSS 
        (Cascading Style Sheets) for design. I built a cat photo app to 
        learn the basics of HTML and CSS. I also acquired knowledge of how 
        to make web pages that respond to different screen sizes by building 
        a photo gallery with Flexbox and a magazine article layout with CSS Grid. -->
    <!-- </p> -->

    <div class="card">
        <div class="row no-gutters">
          <div class="col-md-6">
            <img src="../../../assets/images/Project/carValuation.png" class="card-img" alt="...">
          </div>
          <div class="col-md-6">
            <div class="card-body">
                <h5 class="card-title">
                    Car Valuation Site
                </h5>
                <p class="card-text">
                    Front End Design and development for the website which can determine the valuation of a car.
                </p>

                <div class="links">
                    <a class="code-link" href="https://www.google.com" target="_blank">
                        <button class="inline">
                            <img alt="github" class="icon" src="../assets/images/github.png" />
                            <p class="code-title">code</p>
                        </button>
                    </a>
                    
                    <a class="code-link" href="https://www.youtube.com" target="_blank">
                        <button class="inline">
                            <img alt="video" class="icon" src="../../../assets/images/video.png" />
                            <p class="code-title">demo</p>
                        </button>
                    </a>
                </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="row no-gutters">
          <div class="col-md-6">
            <img src="../../../assets/images/Project/iotLight.png" class="card-img" alt="...">
          </div>
          <div class="col-md-6">
            <div class="card-body">
                <h5 class="card-title">
                    Iot Light Dashboard
                </h5>
                <p class="card-text">
                    Dashboard for IoT smart light where the data from backend is shown.
                </p>

                <div class="links">
                    <a class="code-link" href="https://www.google.com" target="_blank">
                        <button class="inline">
                            <img alt="github" class="icon" src="../assets/images/github.png" />
                            <p class="code-title">code</p>
                        </button>
                    </a>
                    
                    <a class="code-link" href="https://www.youtube.com" target="_blank">
                        <button class="inline">
                            <img alt="video" class="icon" src="../../../assets/images/video.png" />
                            <p class="code-title">demo</p>
                        </button>
                    </a>
                </div>
            </div>
          </div>
        </div>
      </div>


      <div class="card">
        <div class="row no-gutters">
          <div class="col-md-6">
            <img src="../../../assets/images/Project/fireApp.png" class="card-img" alt="...">
          </div>
          <div class="col-md-6">
            <div class="card-body">
                <h5 class="card-title">
                    Ionic App for Fire Disaster Alert and information.
                </h5>
                <p class="card-text">
                    An Ionic App for the information related to Fire safety and the fire information.                
                </p>

                <div class="links">
                    <a class="code-link" href="https://www.google.com" target="_blank">
                        <button class="inline">
                            <img alt="github" class="icon" src="../assets/images/github.png" />
                            <p class="code-title">code</p>
                        </button>
                    </a>
                    
                    <a class="code-link" href="https://www.youtube.com" target="_blank">
                        <button class="inline">
                            <img alt="video" class="icon" src="../../../assets/images/video.png" />
                            <p class="code-title">demo</p>
                        </button>
                    </a>
                </div>
            </div>
          </div>
        </div>
      </div>