<p class="lead">
    Projects:  
</p>
<p>

    I have worked on a variety of projects, 
    which have honed my skills in Angular,
     JavaScript, HTML, CSS, SQL, and Bootstrap. 
     Some of the notable projects that I have 
     worked on are:
    
    1. The Modern Angular Bootcamp: A project that 
        helped me master the fundamentals of Angular, 
        including components, services, pipes, and directives. 
        I learned how to build modular apps that can easily be 
        updated and changed. I also used RxJs to declaratively 
        manage data throughout my app, leveraging built-in functions to 
        transform the data.
    
    2. FreeCodeCamp: Data Structures and Algorithm using JavaScript: 
        A project that helped me grasp the fundamentals of JavaScript, 
        including variables, arrays, objects, loops, and functions. I also 
        created algorithms to manipulate strings, factorialize numbers, etc.
    
    3. FreeCodeCamp: Responsive Web Design: A project that helped me 
        become proficient in the languages that developers use to build 
        webpages: HTML (Hypertext Markup Language) for content and CSS 
        (Cascading Style Sheets) for design. I built a cat photo app to 
        learn the basics of HTML and CSS. I also acquired knowledge of how 
        to make web pages that respond to different screen sizes by building 
        a photo gallery with Flexbox and a magazine article layout with CSS Grid.</p>